PORT=5000
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=BookMe
EMAIL_FROM=
JWT_SECRET = 
STRIPE_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_URI=http://localhost:5000/api/integrations/google/callback
ADMIN_EMAIL=admin@bookme.com
ADMIN_PASSWORD=12345678
MONGO_URI=your_mongodb_connection_string